version: "3.9"

services:

  backend:
    build: ./backend
    container_name: backend
    env_file: ./backend/.env
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    env_file: ./frontend/.env
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
