* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

.container {
  max-width: 360px;
  margin: 70px auto;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

input {
  width: 100%;
  padding: 10px 14px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 18px;
  width: 100%;
  padding: 12px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
